@{
    ViewData["Title"] = "Contacts Remove";
}

<div class="text-center mb-5">
    <h3>Confirm tour action!</h3>
</div>

<a style="width: 100%;" class="btn btn-lg btn-danger btn-block mb-3" role="button" asp-controller="Contact" asp-action="Index">Yes</a>
<a style="width: 100%;" class="btn btn-lg btn-outline-dark btn-block" role="button" asp-controller="Contact" asp-action="Index">No</a>